<!DOCTYPE html>
<html>
  <head>
    <%- include imports.ejs %>
  </head>
  <body class="center-align">
    <h2>Smart Zh Tester</h2>
    <h3>More effective way of revising Chinese!</h3>
    <a href="app" class="waves-effect waves-light btn-large mt50">App</a>
  </body>
</html>
